@model ProjPorto.Models.Movimentacao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movimentacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMovimentacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMovimentacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conteiner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conteiner.Numero)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
